<%- include('partials/_header.ejs') -%>

<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">

            <%- include('partials/_navigation.ejs') -%>
            <div class="tm-welcome-container text-center text-white">
                <div class="tm-welcome-container-inner">

                    <a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
                        <span>Discover</span>
                    </a>
                </div>
            </div>

            <div id="tm-video-container">
                <video autoplay muted loop id="tm-video">
                    <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
                        <source src="video/wheat-field.mp4" type="video/mp4">
                </video>    
            </div>
            
            <i id="tm-video-control-button" class="fas fa-pause"></i>
        </div>

        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container ">
                <main class="d-flex flex-wrap justify-content-around">
                    
                   
                    <% for (let i=0; i<photos.length; i++) { %>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4" style="height: 700px;">
                            <div class="card h-100 p-4">
                                <img src="<%= photos[i].image %>"  class="card-img-top"  alt="Image"  height="250px">
                                <center class="card-body">
                                    <h5 class="card-title"><%= photos[i].title %></h5>
                                    <p class="card-text" style="max-height: 180px; overflow: hidden;"> <%= photos[i].description %> </p>
                                    <a href="/photos/<%= photos[i]._id %>" class="btn btn-primary">View Book</a>
                                </center>
                            </div>
                        </div>
                    <% } %>
                    
                        </div>
                    </div> 
                </main>
                <%- include('partials/_footer.ejs') -%>

   
</body>


</html>